fastapi
uvicorn[standard]
transformers
torch
accelerate
sentence-transformers
faiss-gpu-cu12
langchain
requests
python-multipart
duckduckgo-search
pypdf
python-dotenv
aiohttp
beautifulsoup4
scikit-learn
numpy
